<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Portal </title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<!-- Import header and navbar -->
<div id="header">
  <iframe src="./Header.html" onload="this.before(this.contentDocument.body.children[0]);this.remove()"></iframe>
</div>
<div id="navbar">
  <iframe src="./Nav_bar.html" onload="this.before(this.contentDocument.body.children[0]);this.remove()"></iframe>
</div>
</body>
</html>